*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000c24;    
    font-family: 'Oswald', sans-serif;       
}

.container-fluid{
    background-color: #000c24;
    height: 80px;
    border-radius: 10px;    
}
.header {
    width: 100%;
    padding: 1rem 0;
    justify-content: space-between;
    
}
.head1{
    background-image: url(../img/titleback.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 250px;
    padding: 30px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    font-family: 'Shadows Into Light', cursive;
    color: white;
    text-align: center;    
    text-decoration: none;    
}
.title h1{
    font-size: 3rem;
}
.title:hover{
    color: black;
}
.redes{
    display: flex;
    flex-wrap: wrap;

}
.redes img{
    width: 35px;
}

.nav-link{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
}

h3{
    font-family: 'Shadows Into Light', cursive;
    color: white;
    padding: 20px;
    font-size: 3rem;
}

li{
    list-style-type: none;
    padding: 5px;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 2.4fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
  }
  
  .main { grid-area: main; }
  
  .header { grid-area: header; }
  
  .footer { grid-area: footer; }

.carousel-item a{
    text-decoration: none;
    color: white;
}  
.carousel-item a:hover{
    color: black;
}
.card-body a{
    text-decoration: none;
    color: #000c24;
    
}
.card-body a:hover{
    color: gray
    
}
.card-group{
    padding-bottom: 30px;
}
.newswall {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "news-a"
      "news-b"
      "news-c"
      "news-d"
      "news-e";
  }
  
.news-a { grid-area: news-a; }
  
.news-b { grid-area: news-b; }
  
.news-c { grid-area: news-c; }
  
.news-d { grid-area: news-d; }
  
.news-e { grid-area: news-e; }

.noti a{
    display: flex;
    padding: 20px;
    border-style: solid;
    border-color: white;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    align-items: center;    
}
.noti a img{
    height: 230px;
    padding: 15px;
    border-radius: 30px;
}
.noti a img:hover{
    opacity: 0.5;
}
.noti a h4:hover{
    color: black;
}
.footer {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "footer__links footer__links footer__redes footer__redes"
    "footer__disclaimer footer__disclaimer footer__disclaimer footer__disclaimer";
}

.footer__links { grid-area: footer__links; }

.footer__redes { grid-area: footer__redes; }

.footer__disclaimer { grid-area: footer__disclaimer; }

.footer__links a img{
    height: 200px;
    width: 230px;
    border-radius: 30px;
}
.footer__links a img:hover{
    opacity: 0.5;
}
.footer__links li a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}
.footer__links li a:hover{
    color: black;
}
.footer__redes h4{
    color: white;
    padding: 15px;
}
.footer__redes li a{
    padding: 10px;
}
.footer__redes li a:hover{
    opacity: 0.5;
}
.footer__disclaimer{
    text-align: center;
}
hr{
    color: white;
}
.navbar-toggler{
    background-color: white;
}
.textaboutus{
    background-color: white;
    border-radius: 30px;
    font-size: 1.6rem;
    padding: 15px;
    color: #000c24;
}
.newspage {  display: grid;
    grid-template-columns: 1.1fr 1.1fr 1.1fr 1.1fr 0.5fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "newsbig-a newsbig-a newsbig-a newsbig-a newsbig-a"
      "newssmall-a newssmall-b newssmall-c newssmall-d newsaside"
      "newssmall-e newssmall-f newssmall-g newssmall-h newsaside"
      "newsbig-b newsbig-b newsbig-b newsbig-b newsbig-b"
      "newsbig-c newsbig-c newsbig-c newsbig-c newsbig-c";
  }
  
  .newssmall-a { grid-area: newssmall-a; }
  
  .newssmall-b { grid-area: newssmall-b; }
  
  .newssmall-c { grid-area: newssmall-c; }
  
  .newssmall-d { grid-area: newssmall-d; }
  
  .newsbig-a { grid-area: newsbig-a; }
  
  .newssmall-e { grid-area: newssmall-e; }
  
  .newssmall-f { grid-area: newssmall-f; }
  
  .newssmall-g { grid-area: newssmall-g; }
  
  .newssmall-h { grid-area: newssmall-h; }
  
  .newsaside { grid-area: newsaside; }
  
  .newsbig-b { grid-area: newsbig-b; }
  
  .newsbig-c { grid-area: newsbig-c; }

.newsbig a{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    padding: 15px;
    margin: 30px;
    text-decoration: none;
    color: #000c24;
}
.newsbig a img{
    width: 100%;
    height: auto;
    border-radius: 30px;
}
.newsbig a img:hover{
    opacity: 0.5;
}
.newsbig a h4:hover{
    color: gray;
}
.newssmall a{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius: 30px;
    padding: 30px;
    margin: 10px;
    text-decoration: none;
    color: white;
}
.newssmall a h4{
    font-size: 1rem;
}
.newssmall a h4:hover{
    color: black;
}
.newssmall a img{
    width: 100%;
    padding: 10px;
    height: auto;
    border-radius: 30px;
    max-width: 200px;
}
.newssmall a img:hover{
    opacity: 0.5;
}

.newsaside a{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 20px;
    background-color: white;
    text-decoration: none;
    color: #000c24;
    border-radius: 30px;
}
.newsaside a img{
    width: 100%;
    height: auto;
    border-radius: 30px;
    min-width: 200px;
    min-height: 170px;
    padding: 15px;
}
.newsaside a img:hover{
    opacity: 0.5;
}
.newsaside a h4:hover{
    color: gray;
}
@media only screen and (max-width: 1400px){
    .newsaside{
        display: none;        
    }
    .newspage {  display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.5fr 0.5fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "newsbig-a newsbig-a newsbig-a newsbig-a"
          "newssmall-a newssmall-b newssmall-c newssmall-d"
          "newssmall-e newssmall-f newssmall-g newssmall-h"
          "newsbig-b newsbig-b newsbig-b newsbig-b"
          "newsbig-c newsbig-c newsbig-c newsbig-c";
      }
      
      .newssmall-a { grid-area: newssmall-a; }
      
      .newssmall-b { grid-area: newssmall-b; }
      
      .newssmall-c { grid-area: newssmall-c; }
      
      .newssmall-d { grid-area: newssmall-d; }
      
      .newsbig-a { grid-area: newsbig-a; }
      
      .newssmall-e { grid-area: newssmall-e; }
      
      .newssmall-f { grid-area: newssmall-f; }
      
      .newssmall-g { grid-area: newssmall-g; }
      
      .newssmall-h { grid-area: newssmall-h; }
      
      .newsbig-b { grid-area: newsbig-b; }
      
      .newsbig-c { grid-area: newsbig-c; }
      
}
@media only screen and (max-width: 990px){
    .carousel{
        display: none;    
    }
    .nav-item{
        background-color:#000c24;
    }
    .d-flex input{
        display: none;
    }
    .d-flex button{
        display: none;
    }
    .newspage {  display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "newsbig-a"
          "newssmall-a"
          "newssmall-b"
          "newssmall-c"
          "newssmall-d"
          "newsbig-b"
          "newssmall-e"
          "newssmall-f"
          "newssmall-g"
          "newssmall-h"
          "newsbig-c";
      }
      
      .newsbig-a { grid-area: newsbig-a; }
      
      .newssmall-a { grid-area: newssmall-a; }
      
      .newssmall-b { grid-area: newssmall-b; }
      
      .newssmall\.c { grid-area: newssmall-c; }
      
      .newssmall-d { grid-area: newssmall-d; }
      
      .newsbig-b { grid-area: newsbig-b; }
      
      .newssmall-e { grid-area: newssmall-e; }
      
      .newssmall-f { grid-area: newssmall-f; }
      
      .newssmall-g { grid-area: newssmall-g; }
      
      .newssmall-h { grid-area: newssmall-h; }
      
      .newsbig-c { grid-area: newsbig-c; }
      
     
}
@media only screen and (max-width: 570px){
    .noti a{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .noti a img{
        width: 100%;
        height: auto;
    }   
}
@media only screen and (max-width: 450px){
    .subtitle {
        font-size: 2rem;
    }
    .footer__links a img{
        width: 100%;
        height: auto;
    }
}