.footer {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "footer__links footer__links footer__redes footer__redes"
      "footer__disclaimer footer__disclaimer footer__disclaimer footer__disclaimer";
    .footer__links { 
        grid-area: footer__links;
        a{
            img{
                height: 200px;
                width: 230px;
                border-radius: 30px;
                &:hover{
                    opacity: $imgopacity;
                }                
            }
        }
        ul{
            li{
                a{
                    text-decoration: none;
                    color: $fontligth;
                    font-size: 1.3rem;
                    &:hover{
                        color: $fontdarkhover;
                    }
                }
            }
        } 
    }

    .footer__redes{
        grid-area: footer__redes;
        h4{
            color: $fontligth;
            padding: 15px;
        }
        .redes{
            display: flex;
            flex-wrap: wrap;            
            li{
                a{
                    padding: 10px;
                    img{
                        width: 35px;
                        &:hover{
                            opacity: $imgopacity;
                        }
                    }
                    
                }
            }
        }
    }
      
    .footer__disclaimer{
        grid-area: footer__disclaimer;
        text-align: center;
    }
}